<!DOCTYPE html>
{%load static%}
<html>
<head>
<title>Tezkor yangiliklar | Home</title>
<link href="{%static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{%static 'js/jquery.min.js'%}"></script>
<!-- Custom Theme files -->
<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- for bootstrap working -->
	<script type="text/javascript" src="{%static 'js/bootstrap.js'%}"></script>
<!-- //for bootstrap working -->
<!-- web-fonts -->
<link href="{%static '//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'%}" rel='stylesheet' type='text/css'>
<link href="{%static '//fonts.googleapis.com/css?family=Varela+Round'%}" rel='stylesheet' type='text/css'>
<script src="{%static 'js/responsiveslides.min.js'%}"></script>
	<script>
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			pager: true,
		  });
		});
	</script>
	<script type="text/javascript" src="{%static 'js/move-top.js'%}"></script>
<script type="text/javascript" src="{%static 'js/easing.js'%}"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
	<!-- header-section-starts-here -->
	<div class="header">
		<div class="header-bottom">
			<div class="logo text-center">
				<a href="{%static 'index.html'%}"><img src="{%static 'images/logo.jpg'%}" alt="" /></a>
			</div>
			<div class="navigation">
				<nav class="navbar navbar-default" role="navigation">
		   <div class="wrap">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<!--/.navbar-header-->
		
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					 <li class="active"><a href="{%static 'index.html'%}">Home</a></li>
						<li><a href="{%static 'sports.html'%}">Sports</a></li>
				    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Entertainment<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{%static 'entertainment.html'%}">Movies</a></li>
							<li class="divider"></li>
							<li><a href="{%static 'entertainment.html'%}">Another action</a></li>
							<li class="divider"></li>
							<li><a href="{%static 'entertainment.html'%}">Articles</a></li>
							<li class="divider"></li>
							<li><a href="{%static 'entertainment.html'%}">celebrity</a></li>
							<li class="divider"></li>
							<li><a href="{%static 'entertainment.html'%}">One more separated link</a></li>
						</ul>
					  </li>
					<li><a href="{%static 'shortcodes.html'%}">Health</a></li>
					<li><a href="{%static 'fashion.html'%}">Fashion</a></li>
					  <li class="dropdown">
						<a href="{%static 'business.html'%}" class="dropdown-toggle" data-toggle="dropdown">Business<b class="caret"></b></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
							</div>
						</ul>
					</li>
					<li><a href="{%static 'technology.html'%}">Technology</a></li>
					<div class="clearfix"></div>
				</ul>
				<div class="search">
					<!-- start search-->
				    <div class="search-box">
					    <div id="sb-search" class="sb-search">
						</div>
				    </div>
					<!-- search-scripts -->
					<script src="{%static 'js/classie.js'%}"></script>
					<script src="{%static 'js/uisearch.js'%}"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!--/.navbar-collapse-->
	 <!--/.navbar-->
			</div>
		</nav>
		</div>
	</div>
	<!-- header-section-ends-here -->
	<div class="wrap">
		<div class="move-text">
			<div class="breaking_news">
				<h1 style="color: rgb(41, 41, 96);">Asosiy yangiliklar</h1>
			</div>
			<div class="clearfix"></div>
			<script type="text/javascript" src="{%static 'js/jquery.marquee.min.js'%}"></script>
			<script>
			  $('.marquee').marquee({ pauseOnHover: true });
			  //@ sourceURL=pen.js
			</script>
		</div>
	</div>
	<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
			<div class="col-md-8 content-left">
				<div class="slider">
					<div class="callbacks_wrap">
						<ul class="rslides" id="slider">
						{%for i in head_news%}
							<li>
								<img src="{{i.img_news.url}}" alt="">
								<div class="caption">
									<a href="{%static 'single.html'%}"><h1>{{i.text}}</h1></a>
								</div>
							</li>
						{%endfor%}
						</ul>
					</div>
				</div>
				<div class="articles">
					<header>
						<h3 class="title-head">Dunyo yangiliklari</h3>
					</header>
						{%for news in all_news%}
					<div class="article">
						<div class="article-left">
							<a href="{%static 'single.html'%}"><img src="{{news.img_post.url}}"></a>
						</div>
						<div class="article-right">
							<div class="article-title">
								<p>{{news.time}}    <span class="glyphicon glyphicon-thumbs-up"></span>{{news.like}}</a></p>
								<a class="title" href="{%static 'single.html'%}"> {{news.title}}</a>
							</div>
							<div class="article-text">
								<p>{{news.info}}</p>
								<a href="{%static 'single.html'%}"><img src="{%static 'images/more.png'%}" alt="" /></a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
						{%endfor%}
				</div>
				</div>
			<div class="col-md-4 side-bar">
			<div class="first_half">
				<div class="newsletter">
					<h1 class="side-title-head">Show-shuvli yangiliklar</h1>
					<p class="sign"></p>
				</div>
				<div class="list_vertical">
		         	 	<section class="accordation_menu">
						  <div>
						       <div class="scrollbar" id="style-2">
								   <div class="force-overflow">
									<div class="popular-post-grids">
											<div class="popular-post-grid">
												<div class="post-img">
													<a href="{%static 'single.html'%}"><img src="{%static 'images/tec2.jpg'%}" alt="" /></a>
												</div>
												<div class="post-text">
													<a class="pp-title" href="{%static 'single.html'%}"> The section of the mass media industry</a>
													<p>On Feb 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>3 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="popular-post-grid">
												<div class="post-img">
													<a href="{%static 'single.html'%}"><img src="{%static 'images/tec1.jpg'%}" alt="" /></a>
												</div>
												<div class="post-text">
													<a class="pp-title" href="{%static 'single.html'%}"> Lorem Ipsum is simply dummy text printing</a>
													<p>On Apr 14 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>2 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="popular-post-grid">
												<div class="post-img">
													<a href="{%static 'single.html'%}"><img src="{%static 'images/tec3.jpg'%}" alt="" /></a>
												</div>
												<div class="post-text">
													<a class="pp-title" href="{%static 'single.html'%}">There are many variations of Lorem</a>
													<p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="popular-post-grid">
												<div class="post-img">
													<a href="{%static 'single.html'%}"><img src="{%static 'images/tec4.jpg'%}" alt="" /></a>
												</div>
												<div class="post-text">
													<a class="pp-title" href="{%static 'single.html'%}">Sed ut perspiciatis unde omnis iste natus</a>
													<p>On Jan 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>1 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a></p>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</div>
						    </div>
						  </div>
						  <div>
						    <input id="label-3" name="lida" type="radio"/>
						    <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i><h1>Comments</h1><i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
							<div class="newsletter">
								<h1 class="side-title-head">Newsletter</h1>
								<p class="sign">Sign up to receive our free newsletters!</p>
								<form>
									<input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
									<input type="submit" value="submit">
								</form>
							</div>
							<div class="content" id="a3">
						       <div class="scrollbar" id="style-2">
							    <div class="force-overflow">
								 <div class="response">
									<div class="content" id="a3">
										<div class="scrollbar" id="style-2">
										 <div class="force-overflow">
										  <div class="response">
									 {%for comment in comments%}
								 <div class="media response-info">
									 <div class="media-left response-text-left">
										 <a href="#">
											 <img class="media-object" src="{{comment.user_img.url}}" alt="" />
										 </a>
										 <h5><a href="#">{{comment.user}}</a></h5>
									 </div>
									 <div class="media-body response-text-right">
										 <p>{{comment.text}}</p>
										 <ul>
											 <li>{{comment.time}}</li>
											 <li><a href="single.html">Reply</a></li>
										 </ul>
									 </div>
									 <div class="clearfix"> </div>
								 </div>
									 {%endfor%}
							 </div>
							 </div>
		 
										 </div>
									 </div>

					</div>
					</div>

                                </div>
						    </div>
						  </div>
						</section>
					 </div>
					 <div class="side-bar-articles">
						{%for news in mini_news%}
						<div class="side-bar-article">
							<a href="{%static 'single.html'%}"><img src="{{news.img.url}}" alt="" /></a>
							<div class="side-bar-article-title">
								<a href="{%static 'single.html'%}">{{news.txt}}</a>
							</div>
						</div>
						{%endfor%}
					 </div>
					 </div>
					 <div class="secound_half">				 
					</div>
					<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- content-section-ends-here -->
	<!-- footer-section-starts-here -->
	<div class="footer">
		<div class="footer-top">
			<div class="wrap">
				<div class="col-md-3 col-xs-6 col-sm-4 footer-grid">
					<h4 class="footer-head">About Us</h4>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.</p>
				</div>
				<div class="col-md-2 col-xs-6 col-sm-2 footer-grid">
					<h4 class="footer-head">Categories</h4>
					<ul class="cat">
						<li><a href="{%static 'business.html'%}">Business</a></li>
						<li><a href="{%static 'technology.html'%}">Technology</a></li>
						<li><a href="{%static 'entertainment.html'%}">Entertainment</a></li>
						<li><a href="{%static 'sports.html'%}">Sports</a></li>
						<li><a href="{%static 'shortcodes.html'%}">Health</a></li>
						<li><a href="{%static 'fashion.html'%}">Fashion</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-12 footer-grid">
					<h4 class="footer-head">Contact Us</h4>
					<span class="hq">Our headquaters</span>
					<address>
						<ul class="location">
							<li><span class="glyphicon glyphicon-map-marker"></span></li>
							<li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
							<div class="clearfix"></div>
						</ul>	
						<ul class="location">
							<li><span class="glyphicon glyphicon-earphone"></span></li>
							<li>+0 561 111 235</li>
							<div class="clearfix"></div>
						</ul>	
						<ul class="location">
							<li><span class="glyphicon glyphicon-envelope"></span></li>
							<li><a href="mailto:info@example.com">mail@example.com</a></li>
							<div class="clearfix"></div>
						</ul>						
					</address>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrap">
				<div class="copyrights col-md-6">
					<p> © 2015 Express News. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
				</div>
				<div class="footer-social-icons col-md-6">
					<ul>
						<li><a class="facebook" href="#"></a></li>
						<li><a class="twitter" href="#"></a></li>
						<li><a class="flickr" href="#"></a></li>
						<li><a class="googleplus" href="#"></a></li>
						<li><a class="dribbble" href="#"></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- footer-section-ends-here -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				wrapID: 'toTop', // fading element id
				wrapHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
</body>
</html>